In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("beauty_metadata.csv")

In [4]:
df.head()

,title,brand,rank,asin,description,also_view,also_buy,price,similar_item
0,Workout Headphones by Arena Essentials,HarperCollins,3235148.0,0061073717,NaN,NaN,NaN,NaN,NaN
1,Black Diamond,Swedish Beauty,1462563.0,0143026860,['This is the NEW PURPLE BOTTLE that just came...,['B000LXTNMW'],NaN,NaN,NaN
2,"12 Pc BLUE HEAVEN KAJAL""HERBAL kajal With VITA...",BLUE HEAVE,100425.0,014789302X,"['A brand-new, unused, unopened, undamaged ite...","['B00OWT3W28', 'B0796RMSV8', 'B010E1X15K', 'B0...","['B00OWT3W28', 'B010E1X15K', 'B0796RMSV8', 'B0...",6.45,NaN
3,The Inheritance,Sunatoria,476831.0,0571348351,"[""You have to wonder why there isn't a word in...","['0571352367', '0573697094', '1635571766', '15...","['1848426380', 'B07JVF7M3C', '1644450003', '16...",NaN,NaN
4,The Listening Cards,Listening Planet,2967592.0,0692508988,['The Listening Cards are an eloquent primer i...,NaN,NaN,NaN,NaN